/nbproject/private/
/ProyectoFinal_TeCeHelp-war/nbproject/private/
/ProyectoFinal_TeCeHelp-ejb/nbproject/private/
/ProyectoFinal_TeCeHelp-ejb/build/
/ProyectoFinal_TeCeHelp-ejb/dist/
/ProyectoFinal_TeCeHelp-war/build/
/build/
/dist/
/ProyectoFinal_TeCeHelp-war/dist/